#table-buah {
    border-collapse: collapse;
    background: url(background.jpg);
    background-size: 100%;

    border-width: 3px;
    border-style: solid;
    border-color: white;

    margin: auto;
}
#table-buah h3 {
    font-size: 32px;
}
#table-buah td {
    padding: 20px;
}
.link {
    color: red;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: turquoise;
}